<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order Manager</title>
    <link th:rel="stylesheet" th:href="@{/style.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}"/>
</head>
<body>
<nav>
    <ul>
        <li>
            <a th:href="@{'/products'}" role="button">Products</a>
        </li>
        <li>
            <a th:href="@{'/clients'}" role="button">Clients</a>
        </li>
        <li>
            <a th:href="@{'/orders'}" role="button">Orders</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Order List</h1>
        <p class="col-md-8 fs-4">
            List of currently ongoing orders
        </p>
        <a class="btn btn-primary btn-lg" href="/orders/new">Create New Order</a>
    </div>
    <div class="container-fluid">
        <div th:replace="~{alert}"></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/orders_page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Order ID</a>
                </th>
                <th>
                    <a th:href="@{'/orders_page/' + ${currentPage} + '?sortField=client&sortDir=' + ${reverseSortDir}}">Client</a>
                </th>
                <th>
                    <a th:href="@{'/orders_page/' + ${currentPage} + '?sortField=totalPrice&sortDir=' + ${reverseSortDir}}">Total Price</a>
                </th>
                <th>
                    <a th:href="@{'/orders_page/' + ${currentPage} + '?sortField=deliveryDays&sortDir=' + ${reverseSortDir}}">Delivery Days</a>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${order}">
                <td th:text="${order.id}">Order ID</td>
                <td th:text="${order.client.name}">Client</td>
                <td th:text="${order.totalPrice}">Total Price</td>
                <td th:text="${order.deliveryDays}">Delivery Days</td>
                <td>
                    <a class="btn btn-primary oi oi-brush"
                       title="Edit Order"
                       th:href="@{'/orders/edit/'+ ${order.id}}" role="button">
                    </a>
                    <a class="btn btn-danger oi oi-circle-x"
                       title="Delete Order"
                       th:href="@{'/orders/delete/'+ ${order.id}}" role="button">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div><i>[[${totalItems}]] Item(s) sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
        &nbsp;
        <div th:align="center">
            <a th:if="${currentPage > 1}" th:href="@{'/orders'}">First</a>
            <span th:unless="${currentPage > 1}">First</span>
            &nbsp;
            <a th:if="${currentPage > 1}" th:href="@{'/orders_page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
            <span th:unless="${currentPage > 1}">Previous</span>
            &nbsp;
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/orders_page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>
                &nbsp;
            </span>
            &nbsp;
            <a th:if="${currentPage < totalPages}" th:href="@{'/orders_page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
            &nbsp;
            <a th:if="${currentPage < totalPages}" th:href="@{'/orders_page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
</body>
</html>